Screen {
    layout: grid;
    grid-size: 2 9;
}

.box {
    height: 100%;
    border: solid green;
}

#console {
    column-span: 1;
    row-span: 9;
}
VerticalScroll {
    border: solid green;
}

#ips_returned {
    column-span: 1;
    row-span: 8;
}

#user_ip_input {
    row-span: 1;
    
}